.NavigationLink {
  width: 100%;
  text-align: left;
  font-size: 14pt;
  border-radius: 5pt;
  color: black;
  text-decoration: none;
}

.NavigationLink:hover {
  background-color: #eeeeee;
}

.NavigationLink_active {
  border-right-width: 2pt;
  border-right-color: #000855;
  border-right-style: solid;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.NavigationLink-listItem {
  padding-left: 5pt;
}
